@use '../custom' as *;

.services {
    position: relative;
    padding: 1rem 0;

    &__content {
        padding: 1rem;
        margin-top: 0;

        @include media-breakpoint-up(lg) {
            margin-top: 5rem;
        }

        p {
            font-size: 0.8rem;

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
            }
        }

        .icon{
            font-size: 1.3rem;
            color: $primary;

            @include media-breakpoint-up(lg) {
                font-size: 2.2rem;
            }
        }
    }

    &__pic {
        max-width: 100%;
    }

    .border-right {
        @include media-breakpoint-down(md) {
            border: none;
        }
    }
}